.luna{
    height: 2vh;
    width: 2vh;
    margin: 1vh;
}

.sol{
    height: 4vh;
    width: 4vh;
    margin: 1vh;
}


.black{
    color: black;
}

.light{
    color: white;
}

.logo{
    height: 10vh;
    width: 10vh;
}

.perfil{
    margin:1vh;
    height: 5vh;
    width: 5vh;
}
