/* Carousel.css */
.carousel-container {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 200px;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-image {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    margin: 80px;
    
}

.text-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    color: black;
    max-height: 4em; /* Ajusta este valor para permitir hasta 4 líneas */
    overflow: hidden;
    padding: 10px; /* Espaciado alrededor del texto */
    /* width: 100%; */
}

/* Carousel.css */
/* ... (código anterior) */

.text {


    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Número de líneas a mostrar */
    -webkit-box-orient: vertical;
}


.width{
    max-width: 100px;
}
