.carousel-container {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 5px;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}

.carousel-image {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    margin: 60px;
    
}

.text-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    color: black;
    max-height: 4em; 
    overflow: hidden;
    padding: 10px; 
   
}



.text {
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
}

.width{
    max-width: 100px;
}

