footer {
    background-color: #f8f9fa;
    color: black;
    font-size: .6em;
    padding: 4px;
    text-align: center;
    bottom: 0;
    width: 100%;
    left: 0;
    
    
}


.icon-link {
  color: inherit; 
  text-decoration: none; 
  font-size: 12px; 
  margin-right: 12px; 
}

.text-muted {
  color: inherit; 
}


h4 {
  color: inherit
}

