

  @import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
*{font-family: Bubbles;}



body {
  font-family: 'Open Sans', sans-serif;

  font-weight: 100;
}


.imgProfile{
    width: 25vh;
    height: 25vh;
    margin-bottom: 20px;
}


.contenedor{
    padding: 5%;

}

.contenedor-registro {
    padding-bottom: 2%;
}

.NewTripForm{

      padding-bottom: 12%;
}